/* 

                            Custom Styles


*/

html{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}


/* font styles*/

h2{
    font-size: 40px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 24px;
}

p{
    font-size: 16px;
}

/* Custom Colurs */

:root{
    --black:#3c3b3a;
    --white: #f2f2f2;
    --green: #26a682; 
}

/* image sizing */

img{
    max-width: 100%;
}

button{
    box-shadow: 0px 5px 5px var(--black);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------

                            Mobile Styles

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* common element styles for all three pages which are the wrapper class for nav, main and footer */

.wrapper{
    width: 80%;
    margin: auto;
}


#nav{
    background-color: var(--black);
    margin: -12.5%;
    padding: 20%;
}

footer{
    background-color: var(--black);
    padding: 5% 10% 5% 10%;
    margin: -20%;
}

/* nav */

/* resizing arc logo and styling nav items into blocks and adding colour */

#nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(242, 242, 242, 0.5);
    margin-bottom: 15%;

}

/* adding an animation for the nav anchor tag to change color and grow when hovered. This allows the user to better view the link they are hovering over. We want to exclude the first element of the nav which is the logo to not have an animation because it is supposed to be a static element on the page */

#nav a:hover:nth-child(n+2){
    color: var(--white);
    transform: scale(1.2);
    transition: 1s;
}


#nav a:nth-child(4){
    margin-bottom: -10%;
}

#nav img{
    height: auto;
    width: 100px;
}

/* footer */

/* footer is a two element flex the social medias are together at center while back to top button is to the right */

footer{
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr 75px;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    margin: 0.5rem;
    text-align: center;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

}

.top img{
    width: 25px;
    
}


/* adding annimation for top image so that when you hover over the arrow bounces us twice to indicate the div will bring you up to the top of the page */

@keyframes bounce{
    20%{
        transform: translate(0, -20px);
    }

    50%{
        transform: scale(1.2, 0.8) translate(0,0);
    }

    60%{
        transform: scale(1, 1) translate(0, -20px);
    }

    80%{
    
        transform: translate(0, 0);

    }
}

.top img:hover{
    animation-name: bounce;
    animation-duration: 2s;  
}

.top p{
    font-size: 10px;
}


/* --------------------------------------------------------------------------
                Homepage Mobile styles */

main{
    padding: 10% 0 10% 0 ;
}

/* styiling the discover arc section that will be placed in a flex direction column as mobile styles has all of the elements in one column. We will hide the scroll button at the bottom of this section as it does not show up until the tablet style. */

.discover-arc{
    display: flex;
    flex-direction: column;
    
}

.discover-arc p{
    font-size: 24px;
}


.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--green);
    
}

.icons p{
    font-size: 16px;
}

.icons img{
    width: 75px;
}


.arc-info .icons img{
    padding-bottom: 0px;
}


/* styling get started button in discover arc will serve as a template for the other buttons that will appear throughout the rest of the pages on the site */

.get-started{
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
.get-started button{
    font-size: 32px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
    border: none;
    padding: 10px 50px;
    border-radius: 35px;
}

/* girl reading image */

.discover-arc img{
    padding-top: 2em;
    padding-bottom: 2em;
    height: auto;
}

/* scroll image, have the rotate the image so the arrow is pointing down */

.scroll img{
    transform: rotate(180deg);
    width: 35px;
    padding-top: 0;
}

.scroll{
    display: none;
}


/* discover alogonquin college section and entertainment section*/

/* will set the discover and entertainment images to bleed through past the container */


 .discover-image img,
.entertainment-image img{
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.discover div h3,
.entertainment div h3{
    margin-bottom: 0;
}

.discover div h4,
.entertainment div h4{
    margin-top: 3%;
    font-weight: normal;
    color: var(--green);
}

.discover div p,
.entertainment div p{
    margin-top: 3%;
    
}


/* styling learn more buttons */

/* putting the bottons in flex box as they are at the end of the row  */

.learn-more{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.learn-btn{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    margin-top: 3%;
}

.entertainment .learn-more{
    margin-bottom: auto;
}

/* styling president section with the photo of the president with a circular white border. the background is black and the text is all white */

.president{
    background-color: var(--black);
    color: var(--white);
    padding: 1.5em;
    margin: auto -12.5% auto -12.5%;
}

.president div p{
    padding: 1.5em;
}
.simon{
    margin: 1em;
    text-align: center;
}

.simon h5{
    margin: 3%;
}

.simon img{
    border: 5px solid var(--white);
    border-radius: 50%;
    width: 200px;
}


/* --------------------------------------------------------------------------
                About Mobile styles */



/* adding banner backgrounds for about and services which bleed out  */

.construction{
    margin-bottom: 2em;
}
.about{
    background: var(--white) url("../mtm6201-midterm-master-files/images/about.jpg") no-repeat center center;
    background-size: cover;
    height: 200px;
    margin: auto -12.5% auto -12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services{
    background: var(--white) url("../mtm6201-midterm-master-files/images/services.jpg") no-repeat center center;
    background-size: cover;
    height: 200px;
    margin: auto -12.5% auto -12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay{
    background: var(--green);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.about h2,
.services h2{
    color: var(--white);
    z-index: 2;  
}

/* adding grey background to about, bowling and climbing sections */

.services-info{
    padding-top: 1em;
}

.about-info,
.bowling-card,
.climbing-card{
    background-color: var(--white);
    margin: auto -12.5% auto -12.5%;
    padding: 3% 12.5% 3% 12.5%;

}

/* about info section. Italicizing the headers and decreasing the margins between content */

.about-info h3{
    font-style: italic;
    margin-bottom: -0.2em;
}

/* services styling. We want to hide all of the images as they do not show up in mobile */

.services-info img{ 
    display: none;
}

/* styling service headers so that the h4s are green and normal weight and are a bit closer together */

.services-info h3{
    margin-top: auto;
    margin-bottom: -0.2em ;
}

.services-info h4{
    font-weight: normal;
    color: var(--green);
}

.fitness-info{
    padding-top: 1em;
}

/* styling the subscribe div so that the background is black as well as styling the button */

.subscribe{
    background-color: var(--black);
    margin: auto -12.5% auto -12.5%;
    padding: 1em 2.5em 1em 2.5em;
}

.subscribe h3{
    font-size: 18px;
    font-weight: normal;
    color: var(--white);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

.subscribe-btn{
    display: flex;
    justify-content: center;
}

.subscribe-btn button{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--green);
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    
}

/* styling sponsor section where the title is centered and all the logos are the same size */


.sponsors{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sponsors h2{
    text-align: center;
}

.sponsor-icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sponsor-icons img:nth-child(1){
    width: 300px;
    margin: 1em;
}

.sponsor-icons img:nth-child(2){
    width: 200px;
}

.sponsor-icons img:nth-child(3){
    width: 220px;
    margin: 1em;
}

.sponsor-icons img:nth-child(4){
    width: 150px;
}

/* --------------------------------------------------------------------------
                Contact Mobile styles */

/* styling the contact form */

.contact-us-form {
    max-width: 304px;
    background-color: var(--green);
    padding: 2em 2em 2em 2em;
    border-radius: 25px;
    box-shadow: 1px 1px 5px var(--black);
    margin-top: 2em;
}

.contact-us-form input,
.contact-us-form textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0.5rem 0;
    font-size: 16px;
}

.contact-us-form textarea{
    height: 100px;
    color: gray;
}

.contact-us-form h2,
.contact-us-form label{
    color: var(--white);
}

.contact-us-form h2{
    margin-top: 0;
}

/* styling submit button */

.submit-btn{
    display: flex;
    justify-content: center;
}

.submit-btn button{
    color: var(--white);
    background-color: var(--black);
    font-size: 32px;
    font-weight: bold;
    border-radius: 35px;
    border: none;
    padding: 10px 20px;
    flex-grow: 1;
}

/* location */

.location-info h4{
    font-weight: normal;
}

.location-info p:nth-child(7){
    margin-bottom: 2em;
}

.map iframe{
    left: 47%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    width: 100vw;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------

                            Tablet Styles

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* common styling that have elements that are the same through all pages */

@media screen and (min-width: 768px){
    html{
        font-family: 'Raleway', sans-serif;
        font-size: 100%;
        box-sizing: border-box;
    }
    
    
    /* font styles*/
    
    h2{
        font-size: 72px;
    }
    
    h3{
        font-size: 40px;
    }
    
    h4{
        font-size: 32px;
    }
    
    h5{
        font-size: 24px;
    }
    
    p{
        font-size: 18px;
    }

    /* heading styles */

    .about h2,
    .services h2{
        font-size: 56px;
    }

    /* button styles */

    .icons p{
        font-size: 16px;
    }

    .get-started button,
    .submit-btn button{
        font-size: 40px;
    }

    .learn-btn{
        font-size: 27px;
    }

    .submit-btn button{
        font-size: 24px;
    }

    /* nav */

    #nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 0;
    }

    #nav a{
        margin-bottom: 0;
    }

    #nav a:nth-child(2),
    #nav a:nth-child(3){
        margin-right: 1em;
    }

    #nav a:nth-child(4){
        margin-bottom: 0;
    }

    #nav a:nth-child(1){
        text-align: start;
        flex: 1;
    }

    /*--------------------------------------------------------                         home page styles */

    /* resizing icons so that they can fit together on a sinlge row */
    
    .icons img{
        width: 50px;
    }
    
    .fitness img{
        width: 63px;
    }

    /* displaying the scroll button that as it is the appopriate screen width */

    .scroll{
        display: inline;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    .scroll p{
        margin: auto;
    }

    .scroll img{
        padding-bottom: 0;
    }

    /* president */

    .president{
        display: flex;
        flex-direction: row;
        padding: 1.5em 3em 5em 3em;
        
    }

    .president .simon{
       margin: auto; 
    }

    .president img{
        width: 800px;
        
    }

    .writeup p{
        margin: 1em;
    }

    /* --------------------------------------------------------------------------------------------  about page styles */

    /* Placing the cards in a 2 column so that when they appear the image is beside the text and take the same amount of space in the section. Order of image and text alternates to create balance. */

    .restaurant-card,
    .fitness-card{
        display: grid;
        grid-template-columns: 218px 374px;
        grid-template-rows: 378px;
        grid-column-gap: 1em;
        padding-top: 3%;
        padding-bottom: 3%;
        
    }

    .bowling-card,
    .climbing-card{
        display: grid;
        grid-template-columns: 374px 218px;
        grid-template-rows: 378px;
        grid-column-gap: 1em; 
    }

    .services-info img{
        display: block;
        width: 100%;
        height: auto;
    }

    /* for better reading puposes the subscribe section is displayed in a row */
    .subscribe{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subscribe h3{
        margin-bottom: 0;
        margin-right: 1em;
    }


     /* --------------------------------------------------------------------------------------------  Contact page styles */

     /* contact form total width increases to fit better on tablet screens and sumbit button is flexed to the end */

     .contact-us-form{
         max-width: 608px;
     }

     .contact-us-form textarea{
         height: 148px;
     }

     .submit-btn{
         justify-content: flex-end;
     }

     .submit-btn button{
        flex-grow: 0;
    }
}
    /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------

                            Desktop Styles

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* first desktop media query is for the purpose of changing the entertainment and discover images to a horizontal card disply. This for the purpose of not showing a margin gap to the right of the screen as the page gets larger.  */

@media screen and (min-width: 800px){

    .discover-image img, .entertainment-image img {
        left: 0;
        margin-left: -0;
        margin-right: 0;
        max-width: 100%;
        position: relative;
        right: 0;
        width: 813px;
    }

    .discover{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-template-rows: 337px;
    }

    .entertainment{
        display: grid;
        grid-template-areas: 
            "info image"
        ;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
        grid-template-rows: 337px;
    }
    
    .entertainment .entertainment-image{
        grid-area: image;
        margin-top: 10%;
    }

    .discover div h3{
        margin-top: 0;
    }
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* second query is responsible for arrangling all the content into a more horizantal view. This makes so the user can spend less time scrolling down to view as the content is more readable on a larger screen. */

@media screen and (min-width: 1000px){

/* -------------------------------------------------Homepage----------------------------------------------- */

.discover-arc{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4em;

}

.icons{
    flex-direction: row;
}

.get-started{
    justify-content: flex-start;
}

.scroll{
    margin-top: 2em;
    margin-bottom: 2em;
}

/* ---- president */

.president{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2em;
}

.president img{
    width: 150px;
}

.simon{
    display: flex;
    align-items: center;
}

.simon .name{
    margin-left: 5em;
}

/* ----------------------------About Page-------------------------------------------- */

/* arranging the content into a horzontal and row format because screen size is large enough to include 2 column information */

/* construction */

.construction{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.construction img{
    margin-top: 15%;
}

/* about info */

.about-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}


/* service cards */

.restaurant-card,
.fitness-card,
.bowling-card,
.climbing-card{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 330px;
    
}

.sponsor-icons{
    flex-direction: row;
}

/* adding extra space between the sponsor icons so they dont look cluttered together at the bottom if the page */

.sponsor-icons img:nth-child(-n+3){
    margin-right: 2em;
}

/* -------------------------------------Contact page-------------------- */

/* displaying content in a row format to save space and create a friendlier user expereince as the user can scroll down less */

.contact{
    display: grid;
    grid-template-columns: 1fr 628px;
    grid-template-rows: 801px;
    grid-column-gap: 2em;
}

.contact-us-form{
    max-width: 628px;
}

.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.map iframe{
    left: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    position: relative;
    width: 812px;
    margin-top: 12%;
}


}








