
/* change colour of heading title "Lone starfish */

#webtitle{
    color: white;
    /* absolute positions lets the title go ontop of the image */
    position: absolute;
    top: 25%;
    right:40%;
    font-size: 3em;

}

/* create nav bar by using inline properties */
/* have to clear the bullets points in the navigation bar */

nav ul li{
    list-style: none;
    display: inline-block;
    width: 33%;
    font-size: 1.5em;
    box-sizing: border-box;
    border-right: 1px solid black;
    text-align: center;
}

/* using nth selector to get rid of last border */

nav ul li:last-child{
    border: none;
}

/* want to change the text and background colour*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

/* resize image for the small starfish image*/
main section img{
    width: 18%;
    
/* life of a starish uses float */   

float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

/* adding margins for section */

section{
    margin: 1em 0;
}

/* h3 margin */

h3{
    margin: 1em 0 0 0;
}

/* add border to the form */

form{ 
    border: 1px solid black;
    padding: 3em 1em 1em 1em;
    margin: 2em auto;
}


/* editing text type forms */

input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

/* adding margin for radio buttons */

input[type="radio"]{
    margin-bottom: 1.5em;
}

/* stylizing text box so it cant be resized */

textarea{
    resize: none;
    height: 150px;
}

/* adding padding to main section so the content does not touch the edge */

main{
    padding: 1em;
}

/* bring footer to the right */

footer{
    position: relative;
    top: -25px;
    right: -85%;

}

/* add classes here */

/* adding header image */

.header-img{
    width: 100%;
    height: 300px;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: cover;
    /* margin-left: -1em; 
     margin-right: -1em; */
    
}

/* class container for body div */

.container{
    max-width: 1024px;
    margin: 0 auto;
    background: #dae8e7;

}

/* styling button to have body bg colour and a black border */

.button{
    background-color: #dae8e7;
    color: black;
    border: 1px solid black;
    width: 4em;
    height: 3em;
}