header{
    background-color: peru;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    background-image: url("../images/white_brick_wall.png");
    padding-top: 90px;
}

/* 
this is our css comment
shortcut for adding comment is ctrl + /
 */

h1{
    color: white;
}

p{
    background-color: lightblue;
}
/* selecting multiple elements */
h1,
h2,
h3,
h4,
h5,
h6{
    text-decoration: underline;
}
/* selescting child element to change ul */
nav ul{
    list-style: none;
}

nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid white;
}

nav ul li:last-child {
    border: none;
}

/* selecting child element multiple level */
nav ul a{
    color: darkslategray;
    text-decoration: none;
}
/* selecting html elements with class names */
.orange-link{
    padding: 1.5em;
    display: block;
    background: darkslategray;
    color: orange;
    text-decoration: none;
}

article,
aside{ 
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    width: 80%;
    box-sizing: border-box;
    float: left;
}

aside{
    width: 20%;
}

section{
    clear: both;
}

img{
    width: 100%;
}

/* styling the div */
/* making the container centered and have a max size so it stays the same when resized */

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.danger{
    color: red;
}
/* position Absolute */

.orange-link.large-text{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* selecting element wit hid value */
#tow{
    position: relative;
    background: orange url("../images/bread.jpg") no-repeat center center;
    background-size: cover;
    /* adding additional style to make text visible */
    color: white;
    /* font-size: 24px; 
    updating font to rem unit */
    font-size: 1.5rem; 
    /* default rem value is 16 so 16x1.5= 24px */
    /* r stands for root element */
    padding: 1em 1em 3em 1em;
    /* 1em is equal to the font size of the element so 1x24= 24px */
    width: 50vw;

}
/* adding multiple classes to an element */
.large-text{
    /* font-size: 20px;  */
    font-size: 1.25rem;
}

/* direct child selector */
article>p{
    /* font-size: 24px; */
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
}

/* adjacent sibling selector 
selecting only ul that is adjacent to h3*/

h3+ul{
    /* thickness style colour */
    border: 1px solid black;
}

/* attribute selector */
[href="#tow"]{
    font-weight: bold;
}

/* using pseudo classes
styling navigation */

/* navigation fixed */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.8);
    z-index: 999;
}

nav ul a,
nav ul a:link,
nav ul a:visited{
    background: orange;
    /* horizontal vertical blur spread colour */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}

nav ul a:active {
    box-shadow: 0 0 4px 2px black;
}

/* position related selectors */
/* first child  and last child*/
aside ul li:first-child,
section ol li:last-child{
    font-weight: bold;
}

/* collapse table border into one */
table{
    border-collapse: collapse;
}

tbody tr:nth-child(even){
    /* hex colour value with 6 characters */
    background-color: #d5836c;
}

/* where n is 0, 1, 2... until the number of elements */
table th:nth-child(n),
table td:nth-child(n){
    border: 1px solid #000;
}

/* in 2n+1 if n is 0, 1,2,,3... then 2n+1 1,3,5,7 etc */
table td:nth-child(2n+1){
    /* rgba where a represents opacity
    full opacity is 1 */
    background-color: rgba( 0, 0, 0, 0.2);
}

/* specificity: 0001 */
footer {
    background-color: aqua;
}

/* specificity: 0002 */
body footer {
    background-color: orange;
}
/* specificity: 0001 */
footer {
    background-color: red;
}

/*specificity 0010 */
.site-footer {
    background-color: cornflowerblue;
}

footer.site-footer{
    background-color: teal;
}

/* CSS Box Model */

section p{
    width: 50%;
    padding: 1em;
    margin: 2em auto;
    border: 2px solid black;
}