/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------
            Custom Styles
----------------------------------------------------- */

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

img{
    width: 100%;
}

a,
a:link,
a:visited{
    color: inherit;
}

a:hover,
a:focus{
    color: #c78c06;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: bold;
    margin: 1em 0 0.5em;
}

h1{
    font-size: 5.25rem;
}

h2{
    font-size: 4.275rem;
}

h3{
    font-size: 3.25rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1rem;
}

p{
    margin: 1em 0;
    font-size: 1.75rem;
}



/* -------------------------------------------------header------------------------------------ */

.container{
    padding: 1.5em;
}

/* change size of the logo */
.logo{
    max-width: 100px;
}

/* want to only change background colour of navigation*/

.navigation .container{
    display: flex;
    flex-direction: column;
    background: #222;
    color: #c78c06;
    font-size: 1.75rem;

}

/* navigation */


.navigation .container li{
    text-align: center;
    padding: 1.5rem;
}

.navigation .container a{
    text-decoration: none;
}

/* background colour behind logo */
.navigation .container li:nth-child(1){
    text-align: left;
    background-color: #c78c06;
}

/* style for search bar */

#search{
    width: 95%; 
    height: 3.5em;
    float: left;
    margin: 0px;
    padding-left: 0px;

}

.im-magnifier{
    font-size: 5%;
    text-align: center;
    color: #c78c06;
    background-color: #222;
}

.search-button{
    width: 5%;
    padding: 0;
    margin: 0;
    background-color: #222;
    border: 1px solid #c78c06;
    height: 3.5em;
}




/* love hate */


.navigation .container a,
.navigation .container a:link,
.navigation .container a:visited{
    display: block;
    padding: 0.5em 0;
    margin: 0;
    text-decoration: none;
}

.navigation .container a:hover,
.navigation .container a:focus,
.navigation .container a.current{
    background-color: #c78c06;
    padding: 1em;
    color: #222;
}

.navigation .container li:hover,
.navigation .container li:focus,
.navigation .container li.current{
    background-color: #c78c06;
}

/* banner */



.banner{
    height: 1000px;
    position: relative;
    background: #222 url(../images/main-banner.jpg) no-repeat center bottom;
    background-size: cover;
    z-index: 1;
}

/* banner overlay */




.welcome-banner{
    text-align: left;
    padding: 2rem;
    padding-right: 2.5rem;;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    top: 100px;
    left: 0;
    color: white;
    align-content: center;
    
    
}

.welcome-banner::before{
    color: white;
    font-weight: bold;
    margin: 1rem;
    z-index: 3;
}

.welcome-banner p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.welcome-banner h1{
    margin-top: 75px;
}

/* styling button */

.welcome-banner a{
    display: inline-block;
    background: #c78c06;
    color: #222;
    font-size: 1.75rem;
    text-decoration: none;
    padding: 1.5em 2em;
    /* position: relative; 
    top: 50px;
    left: 0;
    */
}

.welcome-banner im-play{
    color: #222;
}
/* -------------------------------------------- styling main section ------------------------- */

/* styling the about section */

.about-page{
    background: #ffe6ac;
    padding: 1.5em;
}

.about-page img{
    margin-bottom: 0;
    padding-bottom: 0;
}

.about-info{
    padding: 1.5em;
    margin: 0;
}

.about-info p{
    font-weight: 600;
}

/* service section */


.service-card{
    background: #ffe6ac;
    margin: 1.5em 0;
}

.service-info{
    padding: 1.5em;
    padding-bottom: 6em;
    margin-bottom: 2em;
}

.service-info a{
    display: inline-block;
    background: #222;
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1.5em 1.75em;
    /* position: relative;
    left: 0;
    top: 25px;
    */
}


/* vision section */

.vision-section{
    background: #222 url(../images/vision.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
}

.vision-info{
    padding: 1.5em 2em;
    color: white;
}

.vision-info a{
    display: inline-block;
    background: #222;
    color: white;
    border: 1px solid #c78c06;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1.5em 2em;
    /* position: relative; 
    left: 0;
    top: 25px;
    */
}

/* styling member section */

.member-card{
    background: #ffe6ac;

}

.member-card :nth-child(1){
    padding: 0;
    margin: 0;
}

.member-card :nth-child(2){ 
    padding: 0;
    margin: 0;
}

.members .member-card h3{
    padding: 0.75em;
    line-height: 0.25rem;
}



.members .member-card h4,
.member-card p{
    padding: 1.5em;
    
}

.members .member-card h4::after{
    display: block;
    line-height: 0.15rem;
    background: none repeat scroll 0 0 #c78c06;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 100%;


}

/* contact section */


/* contact header */

.contact-header{
    padding: 1.5em;
}
/* message */

.contact{
    margin: 2em;
}

.contact input[type=text], 
.contact input[type=email], 
.contact textarea {
    width: 100%;
    padding: 1.5em;
    border: 1px solid #222;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  .contact textarea{
      resize: none;
      width: 100%;
      height: 150px;
  }

.contact button{
    background-color: #222;
    color: #c78c06;
    border: none;
    padding: 0.15em 0.25em;
    font-size: 2rem;

}

/* tabke */

.contact table{
    width: 100%;
    border-collapse: collapse;

}

caption{
    font-size: 3.25rem;
    font-weight: bold;
    text-align: left;
}

th{
    background: #ffe6ac;
    text-align: center;
}

th,
td{
    border: 1px solid #222;
    font-size: 1.75rem;
    padding: 1rem;
}

/* map */

.contact iframe{
    width: 100%;
}



/* footer */

.site-footer .container{
    background: #222;
    color: #c78c06;
    padding: 1.5em;
    font-size: 1rem;
}

/* ----------------------------------------------------------------------------------------------------
                                                 DESKTOP STYLES


                                                 
--------------------------------------------------------------------------------------------------- */


/* mEDIA QUERY */

@media screen and (min-width: 760px){ 
    .container{
        max-width: 1200px;
        margin: 0em auto 1.5em auto;
    }

    h1{
        font-size: 5.063em;
    }

    h2{
        font-size: 3.375em;
    }

    h3{
        font-size: 2.25em;
    }

    h4{
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    a{
        font-size: 1.02em;
    }

    /* header */


    .navigation .container{ 
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center
    }
    
    .navigation .container li{
        flex: 1;
    }
    
    .navigation .container li:nth-child(7){
        flex: 2;
    }
    
    .navigation .container li:nth-child(1){
        background-color: #222;
    }
    
    .navigation .container li:hover,
    .navigation .container li:focus,
    .navigation .container li.current{
        background-color: #222;
    }
    
    .logo{
        max-height: 120px;
    }
    
    .search-button{
        width: 20%;
        float: right;
    }
    

    /* banner */

    .banner{
        margin-bottom: 0;
    }

    .welcome-banner{
        width: 80%;
        left: 120px;
    }

    /* about */

    .about-page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }

    .about-info,
    .about-info h2{
        padding: 0;
        margin: 0;
    }

    /* services */

    .service-card{
        margin: 0;

    }

    .service-info{
        margin-bottom: 0;
    
    }

    .service-info a{
        display: block;
        text-align: center;
    }

    .service-cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.5em;
        row-gap: 1.5em;
        grid-template-areas: 
        "digi-trans digi-trans digi-trans marketing marketing marketing"
        "vid-pro vid-pro web-des web-des print print"
        ;
    }


    .service-cards .service-card:nth-child(1){
        grid-area: digi-trans;
    }

    .service-cards .service-card:nth-child(2){
        grid-area: marketing;
    }

    .service-cards .service-card:nth-child(3){
        grid-area: vid-pro;
    }

    .service-cards .service-card:nth-child(4){
        grid-area: web-des;
    }

    .service-cards .service-card:nth-child(5){
        grid-area: print;
    }

    /* vision */

    .vision-section{
        height: 400px
    }

    /* members */

    .members{
        display: flex;
        flex-wrap: wrap;
    }

    .member-card:nth-child(1){
        flex: 2 50%;
        order: 1;
    }

    .member-card:nth-child(2){
        flex: 2 50%;
        order: 2;
    }

    .member-card:nth-child(3){
        flex: 2 50%;
        order: 4
    }

    .member-card:nth-child(4){
        flex: 2 50%;
        order: 3;
    }

    /* contact */


    .forms{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .contact:nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .contact:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .contact:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
